*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    justify-items: center;
    justify-content: center;
    display:block;
    /* margin: 100px; */
    padding: 200px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
    /* padding-bottom: 50%; */
    background-color: rgb(255, 255, 255);
    /* margin: 100px 200px 0 100px; */
    margin:100px;
    border-radius: 20px;   
}

h2{
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 10px;
    color: rgb(87, 126, 11);
}
h4{
    text-align: center;
}

/* #btn{
    
    background-color: rgb(235, 226, 226);
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 90%;
} */

#button{
    text-align: center;
    color: rgb(238, 227, 227);
    padding: 8px 30px ;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 40%;
    background-color: rgb(52, 98, 184);
    cursor: pointer;
}

img{
    margin-left: 30%;
    margin-top: 5%;
}

#pic{
    margin-left: 90%;
    cursor:pointer;
}
.container{
    /* margin: 202px;
    padding: 94px; */
    margin:31%;
    padding: 11px;

}