* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.open-btn {
    border: 2px solid #3e363f;
    cursor: pointer;
    padding: 20px 40px;
    background-color: #dd403a;
    color: #fffce8;
    border-radius: 5%;
}

.my-modal {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    background-color: rgb(247, 247, 247);
    margin: 25% auto;
    padding: 30px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.close-btn {
    float: right;
    color: navy;
    font-size: 30px;
    cursor: pointer;
}

/* .option-text { float: left; } */
#continue-btn {
    background: navy;
    color: white;
    padding: 5px 15px;
    display: block;
    cursor: pointer;
    margin: 20px auto;
    font-weight: bold;
}

#upload-icon {
    border: 1px solid grey;
    padding: 5px 10px;
    font-size: 40px;
    color: rgba(104, 104, 104, 0.973);
    border-radius: 5px;
}

#logo-text {
    font-size: 15px;
    font-weight: bold;
    color: rgba(104, 104, 104, 0.973);
}

.bold-text {
    font-weight: bold;
    color: rgba(104, 104, 104, 0.973);
}

.cb {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

img {
    float: left;
}

.wrapper {
    display: flex;
}

.option {
    margin-right: 10%;
}

.option:last-child {
    text-align: center;
}

#upload-icon {
    cursor: pointer;
}

